.single__testimonial{
    padding: 30px;
}

.single__testimonial p{
    margin-bottom: 15px;
}

.single__testimonial h6{
    margin-bottom: 10px;
    color: #7865ff;
    font-size: 1.1rem;
    font-weight: 500;
}

.single__testimonial .title{
    font-weight: 300 !important;
    font-size: 0.9rem;
}

@media only screen and (max-width: 992px){
    .single__testimonial p{
        font-size: 0.8rem;
        line-height: 28px;
    }

    .single__testimonial{
        margin: 0px 20px 0px 20px;
    }
}